@{
    ViewBag.Title = "ConsultaChamado";
    Layout = "~/Areas/LoggedFuncionario/Views/Shared/Layout.cshtml";
}

@section javascript{

    <script type="text/javascript">

        $(document).ready(
            function () {

                function formatData(jsonDateString) {
                    var data = new Date(parseInt(jsonDateString.replace('/Date(', '')));
                    var localData = data.toLocaleDateString();
                    return localData;
                }

                $("#btnpesquisa_chamado").click(
                    function () {

                        var Model = {
                            IdChamado: $("#pesq_id_chamado").val()
                        };

                        $.ajax(
                            {
                                type: "POST",
                                url: "../LoggedFuncionario/ConsultarChamado_ID",
                                data: Model,
                                success: function (lista) {

                                    if (lista[0].IdChamado != null) {

                                        var dados = "";

                                        for (var i = 0; i < lista.length; i++) {

                                            dados += "<tr>";
                                            dados += "<td align='center'>" + lista[i].IdChamado + "</td>";
                                            dados += "<td align='center'>" + lista[i].Assunto + "</td>";
                                            dados += "<td align='center'>" + lista[i].Situacao + "</td>";
                                            dados += "<td align='center'>" + formatData(lista[i].DataAbertura) + "</td>";
                                            dados += "<td align='center'>" + lista[i].Cliente_Nome + "</td>";
                                            dados += "<td align='center'>" + '<a  class="btn btn-info btn-sm glyphicon glyphicon-zoom-in" onclick="editFunction(\'' + lista[i].IdChamado + '\')">' + " Visualizar" + "</a>" + ' ' +
                                                "<button id='btnPDF_ID' class='btn btn-info btn-sm glyphicon glyphicon-download-alt'>" + ' Gerar PDF' + "</button>" + "</td>";
                                            dados += "</tr>";
                                        }

                                        $("#tabela_chamado tbody").empty();
                                        $("#tabela_chamado tbody").append(dados);
                                        $("#mensagem_pesquisa").html("");
                                        $("#pesq_id_chamado").val("");

                                        $("#btnPDF_ID").click(
                                            function () {

                                                pdfFunction(lista);

                                            });
                                    }
                                    else {

                                        $("#mensagem_pesquisa").html("Nenhum Chamado encontrado.");
                                        $("#tabela_chamado tbody").empty();
                                        $("#pesq_id_chamado").val("");
                                    }


                                },
                                error: function (e) {
                                    $("#mensagem_pesquisa").html(e.status);
                                }
                            });
                    });

                $("#btnsituacao_aberto").click(
                    function () {

                        var Model = {
                            Situacao: "Aberto"
                        };

                        $.ajax(
                            {
                                type: "POST",
                                url: "../LoggedFuncionario/ConsultarChamado_Situacao",
                                data: Model,
                                success: function (lista) {

                                    if (lista[0].IdChamado != null) {

                                        var dados = "";

                                        for (var i = 0; i < lista.length; i++) {

                                            dados += "<tr>";
                                            dados += "<td align='center'>" + lista[i].IdChamado + "</td>";
                                            dados += "<td align='center'>" + lista[i].Assunto + "</td>";
                                            dados += "<td align='center'>" + lista[i].Situacao + "</td>";
                                            dados += "<td align='center'>" + formatData(lista[i].DataAbertura) + "</td>";
                                            dados += "<td align='center'>" + lista[i].Cliente_Nome + "</td>";
                                            dados += "<td align='center'>" + '<a  class="btn btn-info btn-sm glyphicon glyphicon-zoom-in" onclick="editFunction(\'' + lista[i].IdChamado + '\')">' + " Visualizar" + "</a>" + "</td>";
                                            dados += "</tr>";
                                        }

                                        dados += "<td align='center'>" + "<button id='btnPDF_Lista' class='btn btn-success btn-md glyphicon glyphicon-download-alt'>" + ' Gerar Relatório PDF' + "</button>" + "</td>";

                                        $("#tabela_chamado tbody").empty();
                                        $("#tabela_chamado tbody").append(dados);
                                        $("#mensagem_pesquisa").html("");

                                        $("#btnPDF_Lista").click(
                                            function () {

                                                pdfFunction(lista);

                                            })
                                    }
                                    else {

                                        $("#mensagem_pesquisa").html("Nenhum Chamado encontrado.");
                                        $("#tabela_chamado tbody").empty();
                                    }
                                },
                                error: function (e) {
                                    $("#mensagem_pesquisa").html(e.status);
                                }
                            });
                    });

                $("#btnsituacao_fechado").click(
                    function () {

                        var Model = {
                            Situacao: "Fechado"
                        };

                        $.ajax(
                            {
                                type: "POST",
                                url: "../LoggedFuncionario/ConsultarChamado_Situacao",
                                data: Model,
                                success: function (lista) {

                                    if (lista[0].IdChamado != null) {

                                        var dados = "";

                                        for (var i = 0; i < lista.length; i++) {

                                            dados += "<tr>";
                                            dados += "<td align='center'>" + lista[i].IdChamado + "</td>";
                                            dados += "<td align='center'>" + lista[i].Assunto + "</td>";
                                            dados += "<td align='center'>" + lista[i].Situacao + "</td>";
                                            dados += "<td align='center'>" + formatData(lista[i].DataAbertura) + "</td>";
                                            dados += "<td align='center'>" + lista[i].Cliente_Nome + "</td>";
                                            dados += "<td align='center'>" + '<a  class="btn btn-info btn-sm glyphicon glyphicon-zoom-in" onclick="editFunction(\'' + lista[i].IdChamado + '\')">' + " Visualizar" + "</a>" + "</td>";
                                            dados += "</tr>";
                                        }

                                        dados += "<td align='center'>" + "<button id='btnPDF_Lista' class='btn btn-success btn-md glyphicon glyphicon-download-alt'>" + ' Gerar Relatório PDF' + "</button>" + "</td>";


                                        $("#tabela_chamado tbody").empty();
                                        $("#tabela_chamado tbody").append(dados);
                                        $("#mensagem_pesquisa").html("");

                                        $("#btnPDF_Lista").click(
                                            function () {

                                                pdfFunction(lista);

                                            })

                                    }
                                    else {

                                        $("#mensagem_pesquisa").html("Nenhum Chamado encontrado.");
                                        $("#tabela_chamado tbody").empty();
                                    }
                                },
                                error: function (e) {
                                    $("#mensagem_pesquisa").html(e.status);
                                }
                            });
                    });


                $("#btnpesq_data_abertura").click(
                    function () {

                        var Model = {
                            DataInicial: $("#inicial_abertura").val(),
                            DataFinal: $("#final_abertura").val()
                        };

                        $.ajax(
                    {
                        type: "POST",
                        url: "../LoggedFuncionario/ConsultarChamado_DataAbertura",
                        data: Model,
                        success: function (lista) {

                            if (lista.length != 0) {

                                var dados = "";

                                for (var i = 0; i < lista.length; i++) {

                                    dados += "<tr>";
                                    dados += "<td align='center'>" + lista[i].IdChamado + "</td>";
                                    dados += "<td align='center'>" + lista[i].Assunto + "</td>";
                                    dados += "<td align='center'>" + lista[i].Situacao + "</td>";
                                    dados += "<td align='center'>" + formatData(lista[i].DataAbertura) + "</td>";
                                    dados += "<td align='center'>" + lista[i].Cliente_Nome + "</td>";
                                    dados += "<td align='center'>" + '<a  class="btn btn-info btn-sm glyphicon glyphicon-zoom-in" onclick="editFunction(\'' + lista[i].IdChamado + '\')">' + " Visualizar" + "</a>" + "</td>";
                                    dados += "</tr>";
                                }

                                dados += "<td align='center'>" + "<button id='btnPDF_Lista' class='btn btn-success btn-md glyphicon glyphicon-download-alt'>" + ' Gerar Relatório PDF' + "</button>" + "</td>";

                                $("#tabela_chamado tbody").empty();
                                $("#tabela_chamado tbody").append(dados);
                                $("#mensagem_pesquisa").html("");
                                $("#inicial_abertura").val("");
                                $("#final_abertura").val("");
                                
                                $("#btnPDF_Lista").click(
                                    function () {

                                        pdfFunction(lista);

                                    })
                            }
                            else {      
                                $("#mensagem_pesquisa").html("Nenhum Chamado encontrado.");
                                $("#tabela_chamado tbody").empty();
                            }
                        },
                        error: function (e) {
                            $("#mensagem_pesquisa").html(e.status);
                        }
                    });

                    })
            });

        function editFunction(Id) {

            function formatData(jsonDateString) {
                var data = new Date(parseInt(jsonDateString.replace('/Date(', '')));
                var localData = data.toLocaleDateString();
                return localData;
            }

            $('#janela_edicao').modal('show');

            $('#id_chamado').attr('value', Id);

            var Model = {
                IdChamado: Id
            }

            $.ajax(
                        {
                            type: "POST",
                            url: "../LoggedFuncionario/EdicaoChamado",
                            data: Model,
                            success: function (lista) {

                                $("#id_chamado").val(lista.IdChamado);
                                $("#assunto_chamado").val(lista.Assunto);
                                $("#desc_chamado").val(lista.Descricao);
                                $("#situacao_chamado").val(lista.Situacao);
                                $("#data_abertura").val(formatData(lista.DataAbertura));
                                $("#data_fechamento").val(lista.DataFechamento);
                                $("#solucao_chamado").val(lista.Solucao);
                                $("#cliente_nome").val(lista.Cliente_Nome);
                                $("#funcionario_nome").val(lista.Funcionario_Nome);

                            },
                            error: function (e) {
                                $("#mensagem_pesquisa").html(e.status);
                            }
                        })

            $("#btnedicao_chamado").click(
                function () {

                    var Model = {
                        IdChamado: $("#id_chamado").val(),
                        Solucao: $("#solucao_chamado").val()
                    };

                    $.ajax(
                        {
                            type: "POST",
                            url: "../LoggedFuncionario/EditarChamado",
                            data: Model,
                            success: function (msg) {

                                $('#janela_edicao').modal('hide');
                                swal("", msg);

                                window.setTimeout(
                                    function () {
                                        location.reload()
                                    }, 5000)
                            },
                            error: function (e) {
                                $("#mensagem_pesquisa").html(e.status);
                            }
                        })

                });

            $("#btncancelar").click(
                function () {

                    $('#janela_edicao').modal('hide');

                });
        }

        function pdfFunction(lista) {

            function formatData(jsonDateString) {
                var data = new Date(parseInt(jsonDateString.replace('/Date(', '')));
                var localData = data.toLocaleDateString();
                return localData;
            }

            var doc = new jsPDF();
            var count = 1;

            doc.setFontSize(15);
            doc.setFontType("italic");

            doc.text(80, 10, 'Relatório em PDF - Página:');
            doc.text(150, 10, count.toString());

            doc.setLineWidth(0.5);
            doc.line(10, 30, 200, 30);


            var x = 10; //distancia da lateral ->
            var y = 70; //distancia da lateral para valor ------->
            var z = 30; //distancia para baixo

            for (i = 0; i < lista.length ; i++) {

                if (lista[i].Situacao == "Aberto") {

                    doc.text(x, z += 6, 'Chamado Número:');
                    doc.text(y, z, lista[i].IdChamado.toString());

                    doc.text(x, z += 6, 'Situação:');
                    doc.text(y, z, lista[i].Situacao);

                    doc.text(x, z += 6, 'Cliente:');
                    doc.text(y, z, lista[i].Cliente_Nome);

                    doc.text(x, z += 6, 'Data de Abertura:');
                    doc.text(y, z, formatData(lista[i].DataAbertura));

                    doc.text(x, z += 6, 'Assunto:');
                    doc.text(y, z, lista[i].Assunto);

                    doc.setLineWidth(0.5);
                    doc.line(x, z += 6, 200, z);

                    if (z >= 240) {

                        doc.addPage();

                        count += 1;

                        doc.text(80, 10, 'Relatório em PDF - Página:');
                        doc.text(150, 10, count.toString());

                        doc.setLineWidth(0.5);
                        doc.line(10, 30, 200, 30);

                        z = 30;
                    }
                }
                else {

                    doc.text(x, z += 6, 'Chamado Número:');
                    doc.text(y, z, lista[i].IdChamado.toString());

                    doc.text(x, z += 6, 'Situação:');
                    doc.text(y, z, lista[i].Situacao);

                    doc.text(x, z += 6, 'Cliente:');
                    doc.text(y, z, lista[i].Cliente_Nome);

                    doc.text(x, z += 6, 'Data de Abertura:');
                    doc.text(y, z, formatData(lista[i].DataAbertura));

                    doc.text(x, z += 6, 'Data de Fechamento:');
                    doc.text(y, z, lista[i].DataFechamento.toString("dd/MM/yyyy"));

                    doc.text(x, z += 6, 'Assunto:');
                    doc.text(y, z, lista[i].Assunto);

                    doc.text(x, z += 6, 'Funcionário Responsável:');
                    doc.text(y, z, lista[i].Funcionario_Nome);

                    doc.setLineWidth(0.5);
                    doc.line(x, z += 6, 200, z);

                    if (z >= 240) {

                        doc.addPage();

                        count += 1;

                        doc.text(80, 10, 'Relatório em PDF - Página:');
                        doc.text(150, 10, count.toString());

                        doc.setLineWidth(0.5);
                        doc.line(10, 30, 200, 30);

                        z = 30;
                    }
                }
            }
            doc.save('Relatorio.pdf');
        }
    </script>
}

<div class="container">
    <div class="row">

        <div class="col-md-3" style="text-align:center">

            <p>
                <h4>Consulta por Código:</h4>
            </p>
            <input type="text" placeholder="Código" id="pesq_id_chamado" class="form-control" />
            <br />
            <button id="btnpesquisa_chamado" class="btn btn-primary btn-block">
                Pesquisar
            </button>
            <hr />

            <p>
                <h4>Consulta por Situação:</h4>
            </p>

            <button id="btnsituacao_aberto" class="btn btn-primary btn-block">
                Aberto
            </button>

            <button id="btnsituacao_fechado" class="btn btn-primary btn-block">
                Fechado
            </button>
            <hr />

            <p>
                <h4>Consulta por Data:</h4>
            </p>

            <input type="text" id="inicial_abertura" class="form-control" onfocus="(this.type='date')" onblur="(this.type='text')" placeholder="Data Inicial" />
            <br />
            <input type="text" id="final_abertura" class="form-control" onfocus="(this.type='date')" onblur="(this.type='text')" placeholder="Data Final" />
            <br />

            <button id="btnpesq_data_abertura" class="btn btn-primary btn-block">
                Pesquisar
            </button>
            <hr />

        </div>

        <div class="col-md-9">

            <span id="mensagem_pesquisa"></span>

            <table id="tabela_chamado" class="table table-hover">
                <thead>
                    <tr>
                        <th style="text-align:center">Código</th>
                        <th style="text-align:center">Assunto</th>
                        <th style="text-align:center">Situação</th>
                        <th style="text-align:center">Data de Abertura</th>
                        <th style="text-align:center">Cliente</th>
                        <th style="text-align:center">Opções</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td align="center">Não há dados para exibir.</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<div id="janela_edicao" class="modal fade">
    <div class="modal-dialog modal-lg">
        <div class="col-md-6">
            <div class="modal-content">

                <div class="modal-header bg-info" style="text-align:center">
                    <h4>Informações do Chamado</h4>
                </div>

                <div class="modal-body">

                    <label>Código:</label>
                    <input type="text" id="id_chamado" class="form-control" readonly />
                    <br />

                    <label>Cliente:</label>
                    <input type="text" id="cliente_nome" class="form-control" readonly />
                    <br />

                    <label>Data de Abertura:</label>
                    <input type="text" id="data_abertura" class="form-control" readonly />
                    <br />

                    <label>Assunto:</label>
                    <input type="text" id="assunto_chamado" class="form-control" readonly />
                    <br />

                    <label>Descrição:</label>
                    <textarea id="desc_chamado" rows="10" cols="73" style="overflow:auto;resize:none" class="form-control" readonly></textarea>
                    <br />

                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="modal-content">

                <div class="modal-header bg-info" style="text-align:center">
                    <br />
                    <br />
                </div>

                <div class="modal-body">

                    <label>Situação:</label>
                    <input type="text" id="situacao_chamado" class="form-control" readonly />
                    <br />

                    <label>Funcionário:</label>
                    <input type="text" id="funcionario_nome" class="form-control" readonly placeholder="Chamado em aberto" />
                    <br />

                    <label>Data de Fechamento:</label>
                    <input type="text" id="data_fechamento" class="form-control" readonly placeholder="Chamado em aberto" />
                    <br />

                    <label>Solução:</label>
                    <textarea id="solucao_chamado" rows="10" cols="73" style="overflow:auto;resize:none" class="form-control" placeholder="Digite aqui a solução encontrada..."></textarea>
                    <br />
                    <br />
                </div>

                <div class="modal-footer">

                    <button id="btnedicao_chamado" class="btn btn-info glyphicon glyphicon-ok">
                        Fechar Chamado
                    </button>

                    <button id="btncancelar" class="btn btn-danger glyphicon glyphicon-remove">
                        Cancelar
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>