
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/LoggedCliente/Views/Shared/Layout.cshtml";
}

<div class="container">
    <div class="row">
        <div class="active">
            Bem Vindo.
            <br />
            <br />
            <a href="@Url.Action("Logout", "LoggedCliente")" style="width:80px"
               class="btn btn-info btn-block">
                Sair
            </a>
        </div>
    </div>
</div>

