
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/LoggedCliente/Views/Shared/Layout.cshtml";
}

<div class="container">
    <div class="row">
        <div class="active">
            Bem vindo.
            <br />
            <br />
        </div>
    </div>
</div>

