@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>

    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-theme.css" rel="stylesheet" />

    <script src="~/Scripts/jquery-1.9.1.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>

</head>
<body>
    <div class="container">
        <ul class="nav nav-tabs">
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">Fornecedores<span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a href="@Url.Action("Login", "Cliente")">Sou Cliente</a></li>
                    <li><a href="@Url.Action("Login", "Funcionario")">Sou Funcionário</a></li>
                </ul>
            </li>
        </ul>
    </div>
</body>
</html>
