@{
    Layout = null;
}

<head>
    <title>Tela de Cadastro</title>

    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-theme.css" rel="stylesheet" />

    <script src="~/Scripts/jquery-1.9.1.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>

    <script type="text/javascript">
        $(document).ready(
            function () {

                $("#btncadastro_funcionario").click(
                    function () {
                        
                            var Model = {
                                Nome: $("#nome_funcionario").val(),
                                Sobrenome: $("#sobrenome_funcionario").val(),
                                Login: $("#login_funcionario").val(),
                                Senha: $("#senha_funcionario").val()
                            };

                            $.ajax(
                                {
                                    type: "POST",
                                    url: "/Funcionario/Cadastrar",
                                    data: Model,
                                    success: function (msg) {

                                        $("#mensagem_funcionario").html(msg);

                                        $("#nome_funcionario").val("");
                                        $("#sobrenome_funcionario").val("");
                                        $("#login_funcionario").val("");
                                        $("#senha_funcionario").val("");
                                        $("#confirm_senha").val("");
                                       
                                    },
                                    error: function (e) {
                                        $("#mensagem_funcionario").html(e.status);
                                    }
                                })
                    });
            });
    </script>
</head>
<body>
    <br />
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-md-4 col-md-offset-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        Dados Pessoais:
                    </div>
                    <div class="panel-body">
                       
                        <input type="text" id="nome_funcionario" class="form-control" placeholder="Nome" />
                        <br />
                       
                        <input type="text" id="sobrenome_funcionario" class="form-control" placeholder="Sobrenome" />
                        <br />
                   
                        <input type="text" id="login_funcionario" class="form-control" placeholder="Login" />
                        <br />
                      
                        <input type="password" id="senha_funcionario" class="form-control" placeholder="Senha" />
                        <br />
                       
                        <input type="password" id="confirm_senha" class="form-control" placeholder="Confirme sua Senha" />
                        <br />

                    </div>
                    <div class="panel-footer">
                        <button id="btncadastro_funcionario" style="width:300px" class=" btn btn-info glyphicon glyphicon-plus-sign">
                            Cadastrar Funcionário
                        </button>
                        <hr />
                        <span id="mensagem_funcionario"></span>
                    </div>
                </div>
                <a href="/Usuario/Login">Voltar</a>
                <hr />
            </div>
        </div>
    </div>
</body>