@using Projeto.Entity.Entities
@{
    if (Session["clientelogado"] != null)
    {
        Cliente c = (Cliente)Session["clientelogado"];

        <div class="container">
            <div class="row">

                <label>Cliente:</label> @c.Nome @c.Sobrenome <br />
                
            </div>
        </div>
    }
}