@{
    ViewBag.Title = "NovaSenha";
    Layout = "~/Areas/LoggedCliente/Views/Shared/Layout.cshtml";
}

@section javascript{
    <script type="text/javascript">
        $(document).ready(
            function () {

                $("#btnalterar_senha").click(
                    function () {

                        if (validateFields() == true) {

                            if ($("#new_senha").val() == $("#confirm_senha").val()) {

                                var Model = {
                                    OldSenha: $("#old_senha").val(),
                                    NewSenha: $("#new_senha").val(),
                                    ConfirmSenha: $("#confirm_senha").val()
                                };

                                $.ajax(
                                    {
                                        type: "POST",
                                        url: "../LoggedCliente/AlterarSenha",
                                        data: Model,
                                        success: function (msg) {

                                            swal("", msg);

                                            $("#old_senha").val("")
                                            $("#new_senha").val("")
                                            $("#confirm_senha").val("")
                                        },
                                        error: function (e) {
                                            $("#mensagem_senha").html(e.status);
                                        }
                                    })
                            }
                            else {
                                swal("", "As senhas não correspondem", "error");
                            }
                        }
                        else {
                            swal("", "Preencha os campos corretamente", "error");
                        }


                    });
            });

        function validateFields() {

            $("#old_error").html("");
            $("#new_error").html("");

            if ($("#old_senha").val() == null || $("#old_senha").val() == "") {
                $("#old_error").html("Campo Senha Atual é obrigatório.");
                return false;
            }
            if ($("#new_senha").val() == null || $("#new_senha").val() == "") {
                $("#new_error").html("Campo Nova Senha é obrigatório.");
                return false;
            }
            else {
                return true;
            }
        }
    </script>
}

<div class="container">
    <div class="row">
        <div class="col-sm-6 col-md-4 col-lg-offset-4">
            <div class="panel panel-default">
                <div class="panel-heading" style="text-align:center">
                    Alteração de Senha
                </div>
                <div class="panel-body">

                    <input type="password" id="old_senha" class="form-control" placeholder="Senha Atual" />
                    <span id="old_error" style="color:red;font-style:italic"></span>
                    <br />

                    <input type="password" id="new_senha" class="form-control" placeholder="Nova Senha" />
                    <span id="new_error" style="color:red;font-style:italic"></span>
                    <br />

                    <input type="password" id="confirm_senha" class="form-control" placeholder="Digite Novamente" />
                    <br />

                </div>
                <div class="panel-footer" style="text-align:right">
                    <button id="btnalterar_senha" style="width:150px" class=" btn btn-info glyphicon glyphicon-ok">
                        Concluir
                    </button>
                    <hr />
                    <span id="mensagem_senha"></span>
                </div>
            </div>
            <hr />
        </div>
    </div>
</div>

