@using Projeto.Entity.Entities
@{
    if (Session["funcionariologado"] != null)
    {
        Funcionario f = (Funcionario)Session["funcionariologado"];

        <div class="container">
            <div class="row">

                <label>Nome:</label> @f.Nome <br />
                <label>Login: </label> @f.Login <br />

            </div>
        </div>
    }
}
