@using Projeto.Entity.Entities
@{
    if (Session["funcionariologado"] != null)
    {
        Funcionario f = (Funcionario)Session["funcionariologado"];

        <div class="container">
            <div class="row">

                <label>Funcionário:</label> @f.Nome @f.Sobrenome <br />
                
            </div>
        </div>
    }
}
