@model Projeto.Web.Models.Usuario.UsuarioModelLogin

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Tela de Login</title>

    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-theme.css" rel="stylesheet" />

    <script src="~/Scripts/jquery-1.9.1.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>

    <script type="text/javascript">
    $(document).ready(
        function () {

            $("#btnautenticar_usuario").click(
                function () {
                    
                    var Model = {
                        Login: $("#login_usuario").val(),
                        Senha: $("#senha_usuario").val(),
                        ManterConectado: $("#manter_conectado").is(":checked")
                    };

                    $.ajax(
                        {
                            type: "POST",
                            url: "/Usuario/AutenticarUsuario",
                            data: Model,
                            success: function (json) {
                                if (json.isRedirect)
                                {
                                    window.location.href = json.redirectUrl;
                                }
                                else
                                {
                                    $("#mensagem_usuario").html(json);
                                }
                            },
                            error: function (e) {
                                $("#mensagem_usuario").html(e.status);
                            }
                        })
                });
        });
    </script>

</head>
<body>
    <br />
    <br />
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-md-4 col-md-offset-4">
                <div class="panel panel-success">
                    <div class="panel-heading" style="text-align:center">
                        <h4>Tela de Login</h4>
                    </div>
                    <div class="panel-body">

                        <label>Login:</label>
                        <input type="text" id="login_usuario" class="form-control" />
                        <br />

                        <label>Senha:</label>
                        <input type="text" id="senha_usuario" class="form-control" />
                        <br />

                    </div>
                    <div class="panel-footer">
                        <input type="checkbox" id="manter_conectado" />
                        Manter Conectado

                        <button id="btnautenticar_usuario" style="width:300px" class="btn btn-default">
                            Entrar
                        </button>
                        <hr />
                        <span id="mensagem_usuario"></span>
                    </div>
                </div>

            </div>
        </div>
    </div>
</body>
</html>